@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao centro de Doações do Lar São Vicente de Paula</h1>
    <p>Faça sua doação utilizando <a asp-area="" asp-controller="Doacao" asp-action="Create">este link</a>.</p>
</div>
